@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/*general*/
* {
  font-family: Nunito;
  margin: 0;
  padding: 0;
  color: white;
}


/*class specefic*/

/*menu*/
.menu {
  position: fixed;
  overflow: visible;
  z-index: 5;
  font-size: 12px;
}
.menu-bar {
  width: 100vw;
  height: 5vh;
  background: rgb(102, 0, 255);
  list-style-type: none;
}
.menu-item-pages {
  float: right;
}
.menu-item-themes {
  float: left;
}
.menu-item-themes span{
  padding: 10px;
}
.menu-item-themes span:hover {
  background: rgb(153, 153, 255);
}
.menu-item-themes:hover .dropdown-themes {
  display: block;
}
.menu-bar a {
  padding: 10px;
}
.menu-bar a:hover {
  background: rgb(153, 153, 255);
  cursor: pointer;
}
.dropdown-themes {
  margin-top: 1vh;
  padding: 10px;
  text-align: center;
  width: 0;
  min-width: 100px;
  display: none;
}
.dropdown-themes:hover {
  background: rgb(153, 153, 255);
  cursor: pointer;
}
  
/*main page*/
.web-page {
  padding-top: 5vh;
  width: 100vw;
  height: 95vh;
  background: linear-gradient(rgb(102, 0, 255), rgb(153, 153, 255));
}
.name {
  margin-top: 40vh;
  font-size: 700%;
  opacity: 0;
  animation-name: name-animate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/*transition classes*/
.off {
  display: none;
}
.activating {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.deactivating {
  opacity: 1;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*special effects*/
.squares {
  display: none;
}

/*animations*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes name-animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.5); translateY(-20vh);
  }
}
