@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/*general*/
* {
  font-family: Nunito;
  margin: 0;
  padding: 0;
  color: white;
}


/*class specefic*/

/*menu*/
.menu {
  position: fixed;
  overflow: visible;
  z-index: 5;
  font-size: 12px;
}
.menu-bar {
  width: 100vw;
  height: 5vh;
  background: rgb(102, 0, 255);
  list-style-type: none;
}
.menu-item-pages {
  float: right;
}
.menu-item-themes {
  float: left;
}
.menu-item-themes span{
  padding: 10px;
}
.menu-item-themes span:hover {
  background: rgb(153, 153, 255);
  cursor: pointer;
}
.menu-item-themes:hover .dropdown-themes {
  display: block;
}
.menu-bar a {
  padding: 10px;
}
.menu-bar a:hover {
  background: rgb(153, 153, 255);
  cursor: pointer;
}
.dropdown-themes {
  margin-top: 1vh;
  padding: 10px;
  text-align: center;
  width: 0;
  min-width: 100px;
  display: none;
}
.dropdown-themes:hover {
  background: rgb(153, 153, 255);
  cursor: pointer;
}
  
/*main page*/
.web-page {
  padding-top: 5vh;
  width: 100vw;
  height: 95vh;
  background: linear-gradient(rgb(102, 0, 255), rgb(153, 153, 255));
}
.name-container {
  width: 100%;
  text-align: center;
}
.name {
  margin-top: 40vh;
  font-size: 700%;
  opacity: 0;
  animation-name: name-animate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/*options*/
.option-container {
  width: 100%;
  text-align: center;
}
.option {
  position: relative;
  z-index: 1;
  font-size: 40px;
  padding: 0px 10px;
  margin-left: 2vw;
  margin-right: 2vw;
  display: inline-block;
  opacity: 0;
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 6%/25%;
  background-color: rgba(255,255,255,0.1);
  animation-name: option-animate;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.option:hover {
  background-color: rgb(153, 153, 255);
  cursor: pointer;
}

/*transition classes*/
.off {
  display: none;
}
.activating {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.deactivating {
  opacity: 1;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*special effects*/
.squares {
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 95vh;
  top: 0;
  margin-top: 5vh;
}
.squares li {
  position: absolute;
  z-index: 0;
  display: block;
  list-style: none;
  height: 50px;
  width: 50px;
  border-radius: 0;
  background-color: rgba(255,255,255,0.1);
  animation: bg-animate 6s ease-in forwards infinite;
}
.squares li:nth-child(1) {
  left: 10%;
  bottom: 20%;
}
.squares li:nth-child(2) {
  left: 20%;
  bottom: 50%;
}
.squares li:nth-child(3) {
  left: 30%;
  bottom: 35%;
}
.squares li:nth-child(4) {
  left: 40%;
  bottom: 15%;
}
.squares li:nth-child(5) {
  left: 50%;
  bottom: 40%;
}
.squares li:nth-child(6) {
  left: 60%;
  bottom: 25%;
}
.squares li:nth-child(7) {
  left: 70%;
  bottom: 65%;
}
.squares li:nth-child(8) {
  left: 80%;
  bottom: 45%;
}
.squares li:nth-child(9) {
  left: 90%;
  bottom: 30%;
}

/*animations*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes name-animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(0.5) translateY(-60vh);
  }
}
@keyframes option-animate {
  0% {
    opacity: 0;
    transform: translateY(-25vh);
  }
  100% {
    opacity: 1;
    transform: translateY(-25vh);
  }
}
@keyframes bg-animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    opacity: 0;
    transform: rotate(-720deg);
  }
}
